[Unit]
Description=Grafana Server
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target
After=postgresql.service mariadb.service mysql.service influxdb.service

[Service]
EnvironmentFile=/etc/default/grafana-server
User={{ grafana_user }}
Group={{ grafana_group }}
Type=simple
WorkingDirectory={{ grafana_path }}
RuntimeDirectory={{ grafana_runtime_directory }}
RuntimeDirectoryMode={{ grafana_runtime_directory_mode }}
ExecStart={{ grafana_path }}/bin/grafana-server --config={{ grafana_conf_path }}/grafana.ini \
                             --config=${CONF_FILE} \
                             --pidfile=${PID_FILE_DIR}/grafana-server.pid \
                             cfg:default.paths.logs=${LOG_DIR} \
                             cfg:default.paths.data=${DATA_DIR} \
                             cfg:default.paths.plugins=${PLUGINS_DIR} \
                             cfg:default.paths.provisioning=${PROVISIONING_CFG_DIR}
Restart={{ grafana_restart_on }}
{% for opt, value in grafana_unit_options.items() %}
{{ opt }}={{ value }}
{% endfor %}

[Install]
WantedBy=multi-user.target
