### Grafana config file ###
{% for option, value in grafana_ini.items() %}
{% if value is not mapping %}
{{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% for section, item in grafana_ini.items() %}
{% if item is mapping %}

[{{ section }}]
{% for option, value in item.items() %}
{% if value is mapping %}

[{{ section }}.{{ option }}]
{% for opt, val in value.items() %}
{{ opt }} = {{ val }}
{% endfor %}
{% else %}
{{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
